<app-menu></app-menu>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" *ngIf="!userName">Olá</h1>
        <h1 class="display-4" *ngIf="userName">Olá  {{userName}}</h1>
        <p class="lead"> Treinamento NestJS e Angular </p>
        <hr class="my-4">
        <p>Treinamento em NestJS e Angular</p>
       
            <div class="row">
             <!--
              <div class="col-md-6">
                <img src="./app/img/NestJS.jpg" alt="NestJS" class="img-fluid">
              </div>
              <div class="col-md-6">
                <img src="./app/img/Angular.jpg" alt="Angular" class="img-fluid">
              </div>
             --> 
            </div>
        
        
    </div>

</div>